// Import page-specific CSS files here.
@import "home";

.clickable {
  padding: 40px 25px 40px 25px;
  width: 45%;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.row {
  margin-left: 0;
}

small {
  margin-left: 0.2rem;
}

.small-supermercado {
  margin-left: -0.2rem;
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
}

.clickable:hover i {
  color: #52ACF4;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable.active i {
  color: #52ACF4;
}

#btn-ameni {
  margin: 30px 0;
}

// .fa-angle-right {
//   display: flex;
//   justify-content: space-evenly;

// }
