.list-reviews {
  color: #a5a5a5;
  font-weight: 600;
  padding: 15px 0;
  letter-spacing: 0.1em;
  font-family: 'Poppins', sans-serif;
}

.list-chat {
  color: #29ABE2;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.icon-reviews {
  color: #a5a5a5;
  font-weight: 600;
  padding: 15px 0;
  letter-spacing: 0.1em;
}
