<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <i class="navbar-icon fas fa-map-marker-alt"></i>
  <i class="navbar-icon far fa-star"></i>
  <i class="navbar-icon far fa-user"></i>

</div>
