<hr class="hr-1">
<div class="container">
  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>Faça seu login!</h1>

  <hr class="hr-2 mb-4">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email aqui">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha aqui">
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
  <h2 class="forgot-password">Esqueceu sua senha?</h2>

  <hr class="hr-2 mb-4">

  <button type="submit" class="btn-social"><i class="fab fa-facebook-f"></i> Facebook</button>
  <button type="submit" class="btn-social"><i class="fab fa-google"></i> Google</button>

  <div class="sign-up">
    <h3>Não tem uma conta ainda?</h3>
    <%= link_to "Inscreva-se", new_user_session_path, class: 'h2' %>
  </div>

</div>
