<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-home">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg" />
</a>
<p class="slogan-home">A safe place to find your new place</p>
</div>

<div class="banner" style="background-image: url(https://res.cloudinary.com/where2live/image/upload/v1607441424/where2Live/Images/city-bg-2_cp0wlb.jpg);">
  <div class="banner-container">

    <h1 class="ml12">A safe place to find your new place</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <a class="btn btn-ghost" href="#">Download the app</a>
  </div>
</div>

<div class="app-container">
  <div class="grid-app">

    <div class="grid-item">
      <h2 class="title-download">Download the app</h2>
      <p class="content-download">And find your new home today!</p>
      <img class="store-btn" src="https://res.cloudinary.com/where2live/image/upload/v1607380247/where2Live/Images/btn-google-play_dix7zd.png">
      <br>
      <img class="store-btn" src="https://res.cloudinary.com/where2live/image/upload/v1607380247/where2Live/Images/btn-app-store_qewr5a.png">
    </div>

    <div class=grid-item>
      <img class="phone-mockup" src="https://res.cloudinary.com/where2live/image/upload/v1607434517/where2Live/Images/iphone-mockup_ca8ozg.png">
    </div>

  </div>
</div>

  <div class="background-section">
    <div class="who-container">
      <div class="grid-who">

        <div class="grid-item">
          <div class="card">
            <img class="who-icon" src="https://res.cloudinary.com/where2live/image/upload/v1607451214/where2Live/Images/Artboard_3_kqhj1c.svg">
            <h3 class="who-title">Real Reviews</h3>
            <p class="who-content">We have a plentiful list of neighborhoods with real reviews of locals and passerbys helping you find the perfect match for your needs.</p>
          </div>
        </div>

        <div class=grid-item>
          <div class="card">
            <img class="who-icon" src="https://res.cloudinary.com/where2live/image/upload/v1607451214/where2Live/Images/Artboard_4_zi8byq.svg">
            <h3 class="who-title">Find New Places</h3>
            <p class="who-content">Discover new places that best suit your needs, search for cities, neighborhoods or streets and see what’s nearby in the choosen area.</p>
          </div>
        </div>

        <div class=grid-item>
          <div class="card">
            <img class="who-icon" src="https://res.cloudinary.com/where2live/image/upload/v1607451214/where2Live/Images/Artboard_5_ka2vf2.svg">
            <h3 class="who-title">Our Community</h3>
            <p class="who-content">Don’t feel lost anymore. Get in touch with trustful people who want to help you with tips and tricks for the whereabouts of your new home.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="city-banner">
    <img class="city-logo" src="https://res.cloudinary.com/where2live/image/upload/v1607454381/where2Live/Assets/where2live-logo-white_ovfze9.svg">
    <img class="city-img" src="https://res.cloudinary.com/where2live/image/upload/v1607454073/where2Live/Images/where2Live-banner-end_hucrom.png">
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      I could've changed the footer but didn't, in honor of Le Wagon <i class="fas fa-heart"></i>
    </div>
  </div>
