.banner-profile {
  background-image: url(https://www.htmlcsscolor.com/preview/gallery/29ABE2.png);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 300px;
  width: 100%;
  margin-right: 0 !important;
  border-radius: 300px/100px;
  top: -70px;
  position: relative;
}

.banner-profile h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-profile p {
  font-size: 20px;
  color: white;

}

.users-pictures {
  width: 56px;
  border-radius: 50%;
}

.wls {
  margin-bottom: 70px;
  height: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-profile{
  margin: 0 auto;
  width: 100%;
}

.btn-ghost-profile{
  color: $live-blue;
  border: 1px solid white;
  padding: 10px 24px;
  font-weight: lighter;
  display:block;
  width: 250px;
  margin-top: 0.5rem;
  // margin: 1.5rem;
}

.container-btn{
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
