.navbar-lewagon {
  justify-content: space-around;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9%;
  border-top: 1px solid #e3e3e3;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-icon {
  color: #a5a5a5;
}

.navbar-icon:hover {
  color: #29ABE2;
}

.navbar-icon.active {
  color: #29ABE2;
}
