<hr class="hr-1">
<div class="container">
  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>Em qual cidade você quer morar?</h1>

  <hr class="hr-2 mb-4">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Procure sua cidade aqui</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: São Paulo">
    </div>

  <h4>(Não se preocupe, você pode alterar sua cidade depois).</h4>

 <%= link_to amenities_path, class: 'btn btn-primary w-100', id: "btn-ameni"  do %>
    Próximo passo <i class="fas fa-angle-right"></i>
  <% end  %>
</div>
