<hr class="hr-1">
<div class="container">

  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>O que você procura perto da sua nova casa?</h1>

  <hr class="hr-2 mb-4">

    <div class="justify-content-center">
      <div class="text-center">

        <div class="pt-4">
          <div class="row d-flex">
            <div class="clickable">
              <i class="fas fa-shopping-cart"></i>
              <small>Supermercado</small>
            </div>

            <div class="clickable">
              <i class="fas fa-stethoscope"></i>
              <small>Hospital</small>
            </div>
          </div>

          <div class="row d-flex">
            <div class="clickable">
              <i class="fas fa-dumbbell"></i>
              <small>Academia</small>
            </div>

            <div class="clickable">
              <i class="fas fa-bicycle"></i>
              <small>Mobilidade</small>
            </div>
          </div>

          <div class="row d-flex">
            <div class="clickable">
              <i class="fas fa-utensils"></i>
              <small>Restaurante</small>
            </div>

            <div class="clickable">
              <i class="fas fa-graduation-cap"></i>
              <small>Escola</small>
            </div>

          </div>

        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary w-100" id="btn-amenities">Achar meu novo lar!</button>

</div>
