<hr class="hr-1">
<div class="container">

  <i class="fas fa-arrow-left back-arrow"></i>

  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>Almost there! Now select your neighborhood <i class="far fa-smile"></i></h1>

  <hr class="hr-2 mb-4">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Select your new neighborhood </label>
    </div>

  <table class="table">
    <tbody>
        <% @neighborhoods.each do |neighborhood| %>
        <tr>
          <td>
            <%= link_to neighborhood.name, neighborhood_path(neighborhood) %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>
