<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>Select your favourite sports:</h3>

        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable">
            <i class="fas fa-futbol"></i>
            <small>Supermercado</small>
          </div>
          <div class="clickable">
            <i class="fas fa-volleyball-ball"></i>
            <small>Hospital</small>
          </div>
          <div class="clickable">
            <i class="fas fa-basketball-ball"></i>
            <small>Academia</small>
          </div>
          <div class="clickable">
            <i class="fas fa-baseball-ball"></i>
            <small>Mobilidade Urbana</small>
          </div>
          <div class="clickable">
            <i class="fas fa-table-tennis"></i>
            <small>Restaurante</small>
          </div>
          <div class="clickable">
            <i class="fas fa-hiking"></i>
            <small>Escola</small>
          </div>
        </div>
      </div>
    </div>
  </div>
