<hr class="hr-1">
<div class="container">
  <h1>What people say about <%= @neighborhood.name %></h1>

  <hr class="hr-2 mb-4">

  <ul class="list-group list-group-flush">
    <li class="fas fa-shopping-cart list-reviews"> Market</li>
    <li class="fas fa-stethoscope list-reviews"> Hospital</li>
    <li class="fas fa-dumbbell list-reviews"> Gym</li>
    <li class="fas fa-bicycle list-reviews"> Mobility</li>
    <li class="fas fa-utensils list-reviews"> Restaurant</li>
    <li class="fas fa-graduation-cap list-reviews"> School</li>
  </ul>

  <hr class="hr-2 mb-4">

  <ul class="list-group list-group-flush">
    <li class="far fa-comment-alt list-chat"> Join the chat now!</li>
  </ul>

  <hr class="hr-2 mb-4">

</div>

<%= render 'shared/navbar' %>

